<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-col width-100>
				<ion-list>
					<ion-item>
						<strong>App Name: </strong> iWeather
					</ion-item>
					<ion-item>
						<strong>Version: </strong> 0.1.2
					</ion-item>
					<ion-item>
						<strong>Description: </strong> Simple Weather App
					</ion-item>
				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
