<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-col>
				<form (ngSubmit)="saveForm()">
					<ion-item>
						<ion-label fixed>
							City
						</ion-label>
						<ion-input [(ngModel)]="city" name="city" type="text"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label fixed>
							State
						</ion-label>
						<ion-input [(ngModel)]="state" name="state" type="text"></ion-input>
					</ion-item>
					<button ion-button type="submit" block>Save Changes</button>
				</form>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
