.home-container{
	background: color($colors, primary);
	color: color($colors, light);
	margin-top: 30px;
}

.toolbar-title{
	text-align: center;
}

.tabs-md .tab-button-icon{
	color: #999;
}

.temp{
	font-size: 90px;
	text-align: center;
	font-weight: normal;
}

.location,.weather-icon, .weather-desc, .weather-temp{
	text-align: center;
}

.weather-icon img{
	width: 50px;
}

.location{
	font-size: 30px;
}

.weather-desc, .weather-temp{
	font-size: 25px;
}